<tr>
    <td class="num">{{num}}.</td>
    <td class="name">
		<input class="form-control" type="text" name="name[]" value="{{name}}">
	</td>
    <td class="email">
		<input class="form-control" type="text" name="email[]" value="{{email}}">
	</td>
    <td class="amount">
		<input class="form-control" type="text" name="amount[]" value="{{amount}}">
	</td>
</tr>